@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --bg-primary: #4FC3F7;
  --bg-secondary: #F7F8F9;
  --bg-gradient-start: #4FC3F7;
  --bg-gradient-end: #00d6cc;
  --white: #ffffff;
  --input-border: #d1d5db;
  --input-border-error: #ef4444;
  --button-bg: #1a3865;
  --button-bg-hover: #1d4ed8;
  --text-primary: #1e293b;
  --text-secondary: #607D8B;
  --light-bg: #85DFF1;
  --font-primary: 'Lora', sans-serif;
  --font-secondary: 'Inter', sans-serif;
  --font-heading: 'Roboto', sans-serif;
}

/* Add this to your CSS file (e.g., styles.css) */

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 400% 400%;
  animation: gradientAnimation 5s ease infinite;
}

.bg-grad1 {
  background: url(../public/images/bg-grad1.svg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-position-y: 0;
  background-size: 65%;

}

.bg-grad2 {
  background: url(../public/images/bg-gred2.svg);
  background-repeat: no-repeat;
  background-size: 97%;
  background-position: 60% 100%;
  background-color: var(--bg-secondary) !important;
}

.w-31 {
  width:
    25rem;
}

.h-31 {
  height: 25rem;
}

button {
  box-shadow: 0px 4px 4px 0px #00000026;
}

@keyframes moveEdges {
  0% {
    d: path("M299.5 74.6489C189.864 120.225 12.9963 169.079 0.679728 172.463C0.245011 172.582 0 172.962 0 173.412V395.649C0 396.201 0.447721 396.649 1.00001 396.649H783.527C784.068 396.649 784.511 396.237 784.522 395.695C784.716 386.813 785.877 317.948 776.5 274.649C761.466 205.233 747.5 173.5 700 109.649C653.657 47.3529 609.737 5.22882 531.5 0.648922C435 -5.00005 410.5 28.5061 299.5 74.6489Z");
  }

  50% {
    d: path("M305 74C195 120 10 160 5 170C0.5 172 0 173 0 174V400C0 400 0.5 400 1 400H785C785 400 785 400 785 400C785 385 790 320 775 280C760 205 750 175 710 110C660 50 610 10 530 5C435 0 420 30 305 75Z");
  }

  100% {
    d: path("M299.5 74.6489C189.864 120.225 12.9963 169.079 0.679728 172.463C0.245011 172.582 0 172.962 0 173.412V395.649C0 396.201 0.447721 396.649 1.00001 396.649H783.527C784.068 396.649 784.511 396.237 784.522 395.695C784.716 386.813 785.877 317.948 776.5 274.649C761.466 205.233 747.5 173.5 700 109.649C653.657 47.3529 609.737 5.22882 531.5 0.648922C435 -5.00005 410.5 28.5061 299.5 74.6489Z");
  }
}

/* svg path {
  animation: moveEdges 5s ease-in-out infinite;
} */



/* CSS for fading in the heading */
.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.section-title {
  opacity: 0;
  transform: translateY(20px);
  /* Initially, the heading is slightly below */
}

/* Style the custom checkbox */
input[type="checkbox"].custom-checkbox {
  appearance: none;
  width: 51px;
  height: 27px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: white;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
  /* width: 24px; */
  /* height: 24px; */
  /* top: 473px; */
  /* left: 160px; */
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

/* Style when the checkbox is checked */
input[type="checkbox"].custom-checkbox:checked {
  background-color: #3b82f6;
  /* Blue background when checked */
  border-color: #3b82f6;
  /* Blue border when checked */
}

/* Add a checkmark when checked */
input[type="checkbox"].custom-checkbox:checked::before {
  content: '\2713';
  /* Unicode character for a checkmark */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  /* Customize the size of the checkmark */
  color: white;
  /* Color of the checkmark */
}

/* Optional: Style when hovering over the checkbox */
input[type="checkbox"].custom-checkbox:hover {
  border-color: #3b82f6;
  /* Change border color on hover */
}

/* Add focus styles for accessibility */
input[type="checkbox"].custom-checkbox:focus {
  outline: none;
  /* Remove default focus outline */
  border-color: #2563eb;
  /* Change border color on focus */
}